
/* 数据统计 */
.dataStats_Head{width: 150px;height: 150px;border:8px solid #eee;margin: 0 auto;border-radius: 50%;box-sizing: border-box;}
.dataStats_Head .fx_item{ position: absolute; top: -8px;left:67px;width:150px; height: 75px;background: url(../../static/images/statistics-icon1.png) no-repeat 0 0/75px 75px;}
.dataStats_Head .fx_item .text{position: absolute; top: 10px;}
.dataStats_Head .fx_item.one{background: url(../../static/images/statistics-icon4.png) no-repeat top right/75px 75px;left:auto;right: 67px;}
.dataStats_Head .fx_item.one .text{top:20px; right: 70px;}
.dataStats_Head .fx_item.two{background: url(../../static/images/statistics-icon2.png) no-repeat top right/75px 75px;top: 67px;left:auto ;right:67px;}
.dataStats_Head .fx_item.two .text{top:50px; right: 60px;}
.dataStats_Head .fx_item.three{background-image:url(../../static/images/statistics-icon3.png); top: 67px;}
.dataStats_Head .fx_item.three .text{top:40px; left: 67px;}
.dataStats_Head .fx_item.four{background-image:url(../../static/images/statistics-icon1.png);}
.dataStats_Head .fx_item.four .text{ left: 67px;}

/* 数据标识 */
/* .dataStats_tag{} */
.dataStats_tag .item .dian{width: 8px;height: 8px;margin-right: 5px;}
.C-one{background: #11b985;}
.C-two{background: #398ef9;}
.C-three{background: #f93939;}
.C-four{background: #ff982a;}

.timeNav .item{width: 50%;}
.timeNav .icon{width: 6px; height: 4px;margin-left: 3px;}

.dataStats_infor .name{width: 20%;}
.dataStats_infor .cont{width: 80%; flex-wrap: wrap;} 
.dataStats_infor .cont .child{width: 50%;padding: 5px 0;} 
.dataStats_infor .cont .dian{width: 5px;height: 5px; border-radius: 50%;margin-right: 5px;}
